<html>
	<head>
		<title>Flask Intro(Employee Portal) - createaccount page</title>	
	</head>
	<body>
		<form action="/insertadmin" method="post">
			<table align='center' >
				<tr>
					<th align='right'>Firstname : </th>
					<td><input type="text" name="firstname" value=""></td>
				</tr>
				<tr>
					<th align='right'>Lastname : </th>
					<td><input type="text" name="lastname" value=""></td>
				</tr>
				<tr>
					<th align='right'>Newpassword : </th>
					<td><input type="password" name='npassword' value=""></td>
				</tr>
				<tr>
					<th align='right'>Confirmpassword : </th>
					<td><input type="password" name='cpassword' value=""></td>
				</tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr>
					<th></th>
					<td align='right'><input type="submit" value="Submit"></td>
				</tr>
			</table>
		</form>
	</body>
</html>